.quantity-picker {
  width: 50%;
  margin: auto;
  color: #333;
  text-align: center;
}

.quantity-modifier,
.quantity-display {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.number-input {
  display: inline-block;
  text-align: center;
  height: 2em;
  width: 5rem;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  /* margin: 10px;
  padding: 10px; */
}
.number-input:hover {
  color: #eeeeee;
}
